<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.mas.dao.SysMessageReceiveMapper">

    <insert id="saveSysMessageReceive" parameterType="com.wh.mas.model.SysMessageReceive" useGeneratedKeys="true" keyProperty="id">
        insert into sys_message_receive (content, receiveTime, telephone,exNumber)
        values (#{content}, #{receiveTime}, #{telephone},#{exNumber})
    </insert>

</mapper>
