<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.mas.dao.SysMessageTelephoneMapper">

    <insert id="saveSysMessageTelephone" parameterType="com.wh.mas.model.SysMessageTelephone" useGeneratedKeys="true" keyProperty="id">
        insert into sys_message_telephone (telephone, messageid, result,errormsg)
        values (#{telephone}, #{messageid}, #{result},#{errormsg})
    </insert>

    <select id="findSysMessageTelephoneByErrormsg" resultType="com.wh.mas.model.SysMessageTelephone">
        SELECT * from sys_message_telephone where errormsg like concat('%',#{errormsg},'%')
    </select>

</mapper>
