<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.mas.dao.SysMessageLogMapper">

    <insert id="insertSysMessageLog" parameterType="com.wh.mas.model.SysMessageLog" useGeneratedKeys="true" keyProperty="id">
        insert into sys_message_log (type,content)
        values (#{type}, #{content})
    </insert>

</mapper>
